{% block content %}
    <html>
    <!-- {% if val %}
    <ul>
        <li>{{ list }}</li>
    </ul>
    {% endif %} -->

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <ul>
                <li>{{ message }}</li>
            </ul>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <h1>Welcome {{ name }}!</h1>
    
    <a href="www.google.com">not google</a>
    
    <ul>
    {% for city in city_names %}
        <li>{{ city }}</li>
    {% endfor %}
    </ul>
    
        <h2>Button Pressed: {{ val }} </h2>
        <label for="cityName">City Name</label>
        </br>
        
    <form action="/getCity" method = "POST">
        <input type = "text" maxlength="32" name = "box" />
        </br>
        </br>
        <input type = "submit" value = "Submit" />
    </form>
    </html>
{% endblock %}